
* {
    box-sizing: border-box;
    line-height: 1.4;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

::before, ::after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
}

a {
    margin: 0;
    text-decoration: none;
    color: #000;
}

:hover, :focus, :active {
    transition: 0.3s ;
    outline: 0;
    outline-offset: 0;
}

::after, ::before{
    transition: 0.3s ;
}